<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zahradtj.bmb_attendance_tracker" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".attendance_main"
            android:label="@string/title_activity_attendance_main"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zahradtj.bmb_attendance_tracker.Home" />
        </activity>
        <activity
            android:name=".attendance_details"
            android:label="@string/title_activity_attendance_details"
            android:parentActivityName=".attendance_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zahradtj.bmb_attendance_tracker.attendance_main" />
        </activity>
    </application>

</manifest>
